<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= config.username %></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
        <div class="span-one-third">
          <% unless config.buttons.nil? %>
            <ul id="linkspam">
              <% config.buttons.each do |button| %>
                <li><%= button %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <div class="row">
        <div class="span-one-third">
          <a href="<%= config.repo %>"><h1 class="centered"><%= config.fullname %></h1> </a> 
          <h2> My projects</h1>
          <ul>
          <% projects.each do |project| %>
            <li>
            <a href="<%= project['url']%>"> <%= project['name'] %> </a>
            <% if Date.parse(project['pushed_at']) > Date.today - config.repo_old_days %>
                <span class="label success">New</span>
              <% end %>
              <% if project['fork'] %>
                <span class="label warning">Fork</span>
              <% end %>
              <span class="description"> <%= project['description'] %> </span>
            </li>

          <% end %>
          </ul>
          <% config.sections.each do |section| %>
            <h2> <%= section['name'] %> </h2>
            <ul>
            <% section['items'].each do |item| %>
              <li> <%= item %> </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>

